includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
        - tests
    excludePaths:
        - tests/stubs/*
    scanFiles:
        - tests/stubs/excimer.stub.php
    level: 9
